@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');

.BlogPost{
    min-width: 800px;
    width: 55%;
    margin: 0 auto;
    /* margin: 0 12vw 0 12vw; */
    font-family: 'Poppins', sans-serif;
}
.articleBody{
    /* font-family: 'Open Sans', sans-serif; */
    /* font-size: 100%; */
    /* font-size: 1.225rem; */
    
}
Link, a{
    color: rgb(83, 80, 80);
    text-decoration: none;
}
.sticky-progress{
    /* position: -webkit-sticky; */
    /* display: none; */
    position: fixed;
    z-index: 100;
    /* bottom: 2px;  */
    width: 100vw;
    left: 0;
    /* position: sticky;  */
    top: 0px;
    height: 5;
}
@media (max-width: 1000px) {
    .BlogPost{
        width: 98%;
        min-width: 300px;
    }
}




/* TODO: markdown CSS */
.articleBody {
    font-family: 'Open Sans', sans-serif;
    /* font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif; */
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    /* font-size: 1rem; */
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 20px;
    /* font-weight: 200; */
    font-style: normal;
    line-height: 1.75rem;
    letter-spacing: .00625rem;    
}
.articleBody h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.7rem;
}
.articleBody h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.1rem;
}
.articleBody h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.7rem;
}
.articleBody h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    color: rgb(61, 59, 59);
}
.articleBody h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}
.articleBody h6 {
    font-family: 'Poppins', sans-serif;
}
.articleBody a {
    color: #1a73e8;
}
.articleBody > blockquote {
    font-size: 1rem;
    color: rgb(95, 92, 92);
    margin-left: 2%;
    /* font-family: 'Space Grotesk', sans-serif; */
    /* font-family: 'Philosopher', sans-serif; */
    font-size: 1.2rem;
    border-left: 4px solid rgb(182, 176, 176);
    padding-left: 1rem;
}
/* .articleBody strong {
    font-weight: 500;
}
.articleBody em {

} */
/* .articleBody code {
    font-family: monospace;
    background-color: var(--light-grey);
    padding: 0 2px;
} */
/* .articleBody pre {
    overflow: scroll;
} */


@media (max-width: 700px) {
    /* .BlogPost{
        width: 100%;
        margin: 0 auto;
        word-wrap: break-word;
    } */
    .articleBody {
        font-size: 18px;
    }
}
