.BlogPost{
    margin: 0 12vw 0 12vw;
}
.articleBody{
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}
Link, a{
    color: rgb(83, 80, 80);
    text-decoration: none;
}
@media (max-width: 700px) {
    .BlogPost{
        margin: 0 2vw 0 2vw;
        word-wrap: break-word;
    }
}

@media (max-width: 900px) {
    .BlogPost{
        margin: 0 0vw 0 0vw;
        word-wrap: break-word;
    }
}

/* TODO: markdown CSS */

/* .BlogPost h1 {

}
.BlogPost h2 {

}
.BlogPost h3 {

}
.BlogPost h4 {

}
.BlogPost h5 {

}
.BlogPost h6 {

} */
