* {
  box-sizing: border-box;
}

:root {
  --box-color: rgb(245, 219, 223);
}
/* Set a background color */
body {
  background-color: #DFA2A2;
  font-family: Helvetica, sans-serif;
}

.timelineHeader{
  font-size: 3vh;
  font-family: monospace;
}
/* The actual timeline (the vertical ruler) */
.timeline {
  background-color: rgb(228, 169, 169);
  border-radius: 3%;
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}
.timeline-container {
  background-color: rgb(228, 169, 169);
  border-radius: 3%;
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #F8F1F1;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  
  content: '';
  
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid rgb(243, 190, 243);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;

  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--box-color);
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--box-color) transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

.time {
  left: 0px;
  margin-left: 0px;
}
/* The actual content */
.content {
  padding: 1% 3% 0.5% 0%;
  /* padding: 20px 30px; */
  background-color: var(--box-color);
  /* background-color: white; */
  position: relative;
  border-radius: 6px;
}

.baby{
  height: 6vh;
  
}
/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
