body {
--black: #202020;
--dark-grey: #808080;
--light-grey: #d9d9d9;
--purple: #B97CFC;
--pink: #F93B69;
--green: #B0E8E2;
--orange: #EB8B6E;
}
.Timeline{
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
}
.timelineHeader{
  font-size: 3vh;
  font-family: monospace;
  text-align: center;
}
.timline-time{
  width: 100%;
}

.timline-item::before{
  content: none;
  width: 0;
}
@media screen and (max-width: 800px) {
  .Timeline {
    margin: 0;
    text-align: left;
  }
  .timline-time{
    width: 20%;
  }
  .timline-item::before{
    display: none;
  }
}

    
    .time {
      min-width: max-content;
      width: 20%;
      font-size: 0.9em;
      padding-top: 0.25em;
    }
    .desc {
      width: 50%;
    }
    .descButton{
      border: none;
      background-color: inherit;
      font-size: 0.89em;
      padding: 0;
    }
    .moreDesc{
      color: grey;
      font-size: 0.8em;
      font-family: inherit;
    }
    h3 {
      font-size: 1em;
      font-weight: 400;
      margin: 0;
    }
    
    h4 {
      margin: 0;
      font-size: 0.9em;
      font-weight: 400;
      color: var(--dark-grey);
    }
    
    .people img{
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
