.art-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2%;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.art-item:hover {
    box-shadow: 0 0 10px #ccc;
}
.art-item {
    width: 300px;
    height: 300px;
    justify-self: center;
    align-self: center;
}
.img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.artHeader{
    font-size: 3vh;
    font-family: monospace;
    text-align: center;
  }
.icon-girl{
    height: 20vh;
}



.dialog-img{
    width: 100%;
}

@media screen and (max-width: 1500px) {
    .art-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2%;
        width: fit-content;
        text-align: center;
        margin: 0 auto;
    }
    .art-item {
        width: 220px;
        height: 220px;
        justify-self: center;
        align-self: center;
    
    }
    .img{
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}
@media screen and (max-width: 900px) {
    .art-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2%;
        width: fit-content;
        text-align: center;
        margin: 0 auto;
    }
    .art-item {
        width: 180px;
        height: 180px;
        justify-self: center;
        align-self: center;
    
    }
    .img{
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
  
}
@media screen and (max-width: 700px) {
    .art-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2%;
        width: fit-content;
        text-align: center;
        margin: 0 auto;
    }
    .art-item {
        width: 150px;
        height: 150px;
        justify-self: center;
        align-self: center;
    
    }
    .img{
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}
@media screen and (max-width: 500px) {
    .art-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1.2%;
        width: fit-content;
        text-align: center;
        margin: 0 auto;
    }
    .art-item {
        width: 30vw;
        height: 30vw;
        justify-self: center;
        align-self: center;
    
    }
    .img{
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}
