.header {
  display: grid;
  grid-template-columns: 1fr 6fr;
  align-items: left;
  margin: 0vh 2vw 1vh 1vw;
  padding: 2% 0% 1% 0%;
  border-bottom: 1px solid rgb(230, 230, 230);
  }
.nav {
  display: grid;
  margin-left: 40%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.nav-button{
  align-self: bottom;
  justify-self: bottom;
  padding: 2% 2% 2% 2%;
  background-color: white;
  height: 100%;
  margin-top: 0;
  font-family: monospace;
  font-size: 2vh;
  border-radius: 5%;
  border: 0;
  margin-left: 20%;
}
