.header {
  display: grid;
  grid-template-columns: 1fr 6fr;
  align-items: left;
  padding: 1% 0 0.35% 0;
  position: fixed;
  z-index: 10;
  background-color: white;
  border-bottom:  1px solid rgb(192, 184, 184);
  width: inherit;
}

.topHeader{
  width: inherit;
  border-bottom:  10px solid rgb(17, 17, 17);
}

.logo {
  align-self: baseline;
  width: max-content;
  padding-top: 2%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}  
.nav {
  display: grid;
  text-align: right;
  justify-self: right;
  margin-right: 2px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.nav-button{
  text-align: center;
  padding: 2% 2% 3.5% 2%;
  justify-self: bottom;
  background-color: inherit;
  height: 100%;
  color: grey;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-family: monospace;
  font-size: 140%;
}
.selectedButton{
  margin-bottom: 0px;
  color: rgb(31, 30, 30);
  border-bottom: 2px solid black;
}
.nav-menu {
  display: none;
}
@media screen and (max-width: 1000px) {
  .header {
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: left;
    padding: 3% 0 0.2% 0;
    position: fixed;
    z-index: 10;
    background-color: white;
    width: inherit;
  }
  .nav {
    display: none;
    content: url("./bars.svg");
  }
  .logo{
    text-align: center;
  }
  .nav-menu {
    width: 23px;
    display: block;
    justify-self: right;
    margin-right: 8%;
  }
  .menu-dialog{
    opacity: 0.85;
  }
    .nav-menu-options{
    background: black;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
    align-content: center;
    justify-content: center;
    padding: 20% 0 20% 0;
    margin: 0% 0 0 0;
    text-align: center;
    overflow: hidden;
  }
  .nav-button {
    opacity: 1;
    padding: 10% 20vh 10% 0;
    color: rgb(214, 212, 212);
    width: 100%;
    font-size: 180%;
    font-weight: bold;
    border: none;
  }
  .selectedButton{
    /* margin-bottom: 0px; */
    font-size: 250%;
    color: white;
    border: none;
  }

}
