.blog{
    margin-bottom: 5%;
    display: relative;
    min-height: 0;
    text-align: center;
}
.pageDescription{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: grey;
  }
.article-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 5%;
    column-gap: 2%;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    justify-items: center;
}
.Card {
    width: 300px;
    height: 300px;
    justify-self: center;
    align-self: center;
    font-style: normal;
    align-self: center;
}
.ArticleImg{
    height: 140px;
}
.titles{
    margin: 0;
    color: black;
    font-size: 140%;
    font-weight: 450;
}
.description{
    color: rgb(88, 84, 84);
    text-decoration: none;
    margin-top: 0;
}
.cardContent{
    text-align: left;
    margin: 0;
}
.createdAt{
    color: grey;
    margin-bottom: 0;
}
.icon-girl{
    height: 20vh;
}
.blogsHeader{
    font-size: 3vh;
    font-family: monospace;
}
@media (max-width: 1500px) {
    .article-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 2%;
        /* margin: 4vh 10vw 7vh 10vw; */
        min-height: 0;
        align-items: center;
        justify-items: center;
    }

}
@media screen and (max-width: 700px) {
    .article-container{
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 3%;
        width: 90vw;
        min-height: 0;
        align-items: center;
        justify-items: center;
    }
    .Card {
        width: 80vw;
    }
    .ArticleImg{
        height: 0;
    }
}
@media screen and (max-width: 430px) {
    .blog{
        margin-bottom: 2rem;
        display: relative;
        min-height: 0;
    }
    .article-container{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 2%;
        align-items: center;
        justify-items: center;
        min-height: 0;
    }
    .Card {
        max-width: 345;
    }
    
    .ArticleImg{
        height: 100px;
    }
}
