.App {
  text-align: center;
  margin: 0 16vw 2px 16vw;
  display: flex;
  height: 100%;
  flex-direction: column;
}
.pages {
  position: relative;
  min-height: 100%;
  overflow-y: hidden;
  flex: 1 0 auto;
}
@media screen and (max-width: 600px) {
  .App{
    margin: 0 2px 0px 2px;
  }
}

@media screen and (max-width: 1200px) {
  .App{
    margin: 0 4vw 0 4vw;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
