@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@100&display=swap');
.App {
  text-align: center;
  margin: 0 16vw 2px 16vw;
  display: flex;
  height: 100%;
  flex-direction: column;
}
.pages {
  position: relative;
  min-height: 100%;
  overflow-y: hidden;
  flex: 1 0 auto;
}
@media screen and (max-width: 600px) {
  .App{
    margin: 0 2px 0px 2px;
  }
}

@media screen and (max-width: 1200px) {
  .App{
    margin: 0 4vw 0 4vw;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.pageHeader {
  font-size: 200%;
  font-family: 'Poppins', sans-serif;
}

.pageHeader:after {
  content: " ";
  border: 1px solid black;
  margin-top: 2px;
  margin-bottom: 15px;
  margin-left: 40%;
  display: block;
  width: 20%;
  /* max-width: 100px; */
  text-align: right;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
